.container {
    display: grid;
    gap: 20px;
}

.box {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

/* For long screens */
@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* 1x4 layout */
    }
}

/* For small screens */
@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr 1fr;
        /* 2x2 layout */
    }
}